@import "../../../assets/mixins.scss";
body {
  header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    min-height: 8vh;
    padding-left: 25px;
    box-sizing: border-box;
    svg {
      height: 25px;
    }
    h1 {
      color: var(--color-primary);
      font-family: var(--font-primary);
      font-size: 25px;
      font-weight: 800;
      margin-left: 10px;
      padding-top: 5px;
      margin-bottom: 0;
    }
    border-bottom: 10px solid var(--color-primary-contrast);
  }
  main {
    border-top: 1px solid var(--color-primary);
    box-sizing: border-box;
    min-height: 90vh;
    #Search-Filter-Sort-Container {
      margin: 1vh 5vw;
      height: 7vh;
      display: flex;
      align-items: center;
      justify-content: center;
      #Search-Input-Container {
        @include searchInput();
      }
    }
    #Adding-Task-Button-Container {
      margin: 1vh 5vw;
      button {
        svg {
          margin-right: 5px;
        }
        background: var(--color-primary) !important;
        text-decoration: none;
        color: var(--color-primary-light);
      }
    }
    #TaskBoard {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-gap: 5vw;
      padding: 3vh 5vw;
      .Columns {
        background-color: var(--color-primary-light);
        width: 100%;
        min-height: 72vh;
        border-radius: 10px;
        .Column-Header {
          border-bottom: 2px solid var(--color-primary);
          margin-left: 35px;
          padding-bottom: 20px;
          padding-top: 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          h2 {
            font-family: var(--font-primary);
            color: var(--color-primary);
            font-size: 25px;
            font-weight: 600;
            letter-spacing: 1px;
            margin-bottom: 0;
          }
          output {
            border-radius: 5px;
            background-color: var(--color-primary);
            color: var(--color-primary-light);
            height: 25px;
            min-width: 25px;
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 35px;
          }
        }
        .Drag-Container {
          min-height: 100%;
          .Task-Card {
            background: #ffffff !important;
            border-radius: 10px;
            margin: 35px;
            padding: 10px 20px;
            font-family: var(--font-primary);
            color: var(--color-primary);
            transition: all 0.2s ease-in;
            .Task-Id {
              font-size: 12px;
              font-weight: 500;
              letter-spacing: 1.5px;
              margin: 5px auto;
            }
            .Task-Title {
              font-size: 17px;
              font-weight: 500;
              line-height: 25px;
              letter-spacing: 0.5px;
              font-family: var(--font-primary);
              margin: 5px auto;
            }
            .Date-Priority-Tags {
              margin: 10px auto 15px auto;

              min-height: 23px;
              height: fit-content;
              display: flex;
              align-items: center;
              justify-content: left;
              .Due-Date {
                padding: 6px 10px;
                height: 20px;
                background-color: var(--color-primary-light);
                color: var(--color-primary);
                font-size: 12px;
                font-weight: 500;
                font-family: var(--font-primary);
                margin: 5px 10px 5px 0;
                box-shadow: 0px 0px 5px #00000029;
                border-radius: 2px;
                display: flex;
                align-items: center;
                justify-content: left;
                svg {
                  margin-right: 10px;
                }
              }
              .Low-Priority-Tag {
                background-color: var(--color-low-priority-background);
                color: var(--color-low-priority-contrast);
              }
              .Medium-Priority-Tag {
                background-color: var(--color-medium-priority-background);
                color: var(--color-medium-priority-contrast);
              }
              .High-Priority-Tag {
                background-color: var(--color-high-priority-background);
                color: var(--color-high-priority-contrast);
              }
              .Priority-Tags {
                height: 20px;
                font-size: 12px;
                font-family: var(--font-primary);
                margin: 5px auto 5px 0;
                padding: 6px 10px;
                box-shadow: 0px 0px 5px #00000029;
                border-radius: 2px;
                display: flex;
                align-items: center;
              }
            }

            .User-Info {
              box-shadow: 0px 0px 1px #00000029;
              border-radius: 2px;
              width: fit-content;
              height: 28px;
              background: #ffffff 0% 0% no-repeat padding-box;
              box-shadow: 0px 0px 5px #00000029;
              border-radius: 2px;
              display: flex;
              align-items: center;
              margin-bottom: 20px;
              .User-Image {
                width: 28px;
                height: 28px;
                box-shadow: 0px 0px 1px #00000029;
                border-radius: 2px;
              }
              .User-Name {
                letter-spacing: 0.3px;
                font-size: 12px;
                margin-left: 10px;
                margin-right: 10px;
              }
            }
            .Bottom-Bar {
              margin-left: -20px;
              margin-right: -20px;
              margin-bottom: -10px;
              border-top: 0.5px solid var(--color-primary-contrast);
              display: flex;
              justify-content: space-between;
              align-items: center;
              height: 40px;

              .Creation-Date {
                font-size: 12px;
                letter-spacing: 0.2px;
                margin-left: 20px;
              }
              svg {
                margin-right: 15px;
              }
            }
          }
        }
      }
      #Low-Priority-Column {
        grid-column: 1/2;
      }
      #Medium-Priority-Column {
        grid-column: 2/3;
      }
      #High-Priority-Column {
        grid-column: 3/4;
      }
    }
    #Loading-Board {
      @include Loader();
    }
  }
}
