<body>
  <section id="Task-Detail-Container">
    <div class="TaskId-DeleteTask-Option" *ngIf="taskEdit === true">
      <p>#{{ taskId }}</p>
      <button class="Button" id="DeleteButton" mat-raised-button color="warn" (click) ="deleteTask()">
        <svg id="delete" xmlns="http://www.w3.org/2000/svg" width="17.324" height="18.314" viewBox="0 0 17.324 18.314">
          <g id="Group_17" data-name="Group 17" transform="translate(1.735 3.524)">
            <g id="Group_16" data-name="Group 16" transform="translate(0)">
              <path id="Path_9" data-name="Path 9" d="M74.728,98.512l-1.168,13.305H65L63.833,98.512l-1.479.13,1.189,13.546a1.25,1.25,0,0,0,1.234,1.114h9.008a1.253,1.253,0,0,0,1.235-1.123l1.188-13.538Z" transform="translate(-62.354 -98.512)" fill="#d95a5a"/>
            </g>
          </g>
          <g id="Group_19" data-name="Group 19" transform="translate(4.702)">
            <g id="Group_18" data-name="Group 18">
              <path id="Path_10" data-name="Path 10" d="M151.979,0h-5.445A1.239,1.239,0,0,0,145.3,1.237V3.589h1.485v-2.1h4.95v2.1h1.485V1.237A1.239,1.239,0,0,0,151.979,0Z" transform="translate(-145.297 0)" fill="#d95a5a"/>
            </g>
          </g>
          <g id="Group_21" data-name="Group 21" transform="translate(0 2.846)">
            <g id="Group_20" data-name="Group 20" transform="translate(0)">
              <path id="Path_11" data-name="Path 11" d="M30.419,79.568H14.58a.742.742,0,1,0,0,1.485H30.419a.742.742,0,1,0,0-1.485Z" transform="translate(-13.838 -79.568)" fill="#d95a5a"/>
            </g>
          </g>
        </svg> Delete
      </button>
    </div>

    <form [formGroup]="taskForm">
      <input
        type="text"
        id="Title-Input"
        formControlName="title"
        placeholder="Enter task message"
      />

      <div id="Task-Details">
        <mat-form-field>
          <mat-select placeholder="Assignee" formControlName="assignee">
            <mat-option *ngFor="let u of userList" value="{{ u.id }}">{{
              u.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Due Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="dueDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Priority" formControlName="priority">
            <mat-option value="1">Low</mat-option>
            <mat-option value="2">Medium</mat-option>
            <mat-option value="3">High</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div id="Task-Creation-Info" *ngIf="taskEdit === true">
        This task was created on {{ creationDate | date: "dd-MMM-yyyy" }} at
        {{ creationDate | date: "hh:mm" }}
      </div>

      <div id="Action-Button">
        <button
          mat-raised-button
          color="warn"
          style="
            background: #fff;
            color: var(--color-primary);
            border: var(--color-primary);
          "
          routerLink="/"
        >
          CANCEL
        </button>
        <button
          mat-raised-button
          color="primary"
          [disabled]="!this.taskForm.valid"
          (click)="saveButton()"
        >
          SAVE
        </button>
      </div>
    </form>
  </section>
  <section *ngIf="this.taskApiStatus === 'Initialized'" id="Loader">
    <p>Loading ...</p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>

  </section>
</body>
