<main>
  <button
    mat-raised-button
    color="primary"
    id="Task-Board-Button"
    routerLink="/"
  >
    <svg
      id="left-arrow"
      xmlns="http://www.w3.org/2000/svg"
      width="18.337"
      height="18.337"
      viewBox="0 0 18.337 18.337"
    >
      <g id="Group_30" data-name="Group 30">
        <g id="Group_29" data-name="Group 29">
          <path
            id="Path_14"
            data-name="Path 14"
            d="M9.169,0a9.169,9.169,0,1,0,9.169,9.169A9.169,9.169,0,0,0,9.169,0Zm0,17.191a8.023,8.023,0,1,1,8.023-8.023A8.023,8.023,0,0,1,9.169,17.191Z"
          />
          <path
            id="Path_15"
            data-name="Path 15"
            d="M164.738,116.8l-4.584,4.584a.573.573,0,0,0,0,.808l4.584,4.584.808-.814-4.177-4.177,4.177-4.178Z"
            transform="translate(-154.257 -112.617)"
          />
        </g>
      </g>
    </svg>
    Task Board
  </button>
  <section id="Search-Filter-Sort-Container">
    <div id="Search-Input-Container">
      <svg
        id="loupe"
        xmlns="http://www.w3.org/2000/svg"
        width="18.605"
        height="18.675"
        viewBox="0 0 18.605 18.675"
      >
        <g id="Group_1" data-name="Group 1">
          <path
            id="Path_1"
            data-name="Path 1"
            d="M18.937,14.717l-3.074-3.074a8.48,8.48,0,0,0,.931-3.726,7.917,7.917,0,1,0-7.917,7.917A8.48,8.48,0,0,0,12.6,14.9l3.074,3.074a2.251,2.251,0,0,0,3.26,0A2.427,2.427,0,0,0,18.937,14.717ZM8.877,13.971a6.054,6.054,0,1,1,6.054-6.054A6.042,6.042,0,0,1,8.877,13.971Z"
            transform="translate(-0.96)"
            fill="#af8b6e"
          />
        </g>
      </svg>

      <input
        [formControl]="searchInput"
        type="text"
        type="search"
        placeholder="Search tasks by title"
        (keyup.enter)="searchTasks()"
      />
    </div>
  </section>
  <section id="Search-Result-Container">
    <div id="Result-Count" *ngIf="this.taskListAPI === 'success'">
      {{ this.filterList.length }} task<span *ngIf="filterList.length > 0"
        >s</span
      >
      found
    </div>
    <div id="Table" *ngIf="filterList.length > 0">
      <table mat-table [dataSource]="filterList" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let element">{{ element.message }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="assigned_to">
          <th mat-header-cell *matHeaderCellDef>Weight</th>
          <td mat-cell *matCellDef="let element">{{ element.assigned_to }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="assigned_name">
          <th mat-header-cell *matHeaderCellDef>Assignee</th>
          <td mat-cell *matCellDef="let element">
            {{ element.assigned_name }}
          </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="priority">
          <th mat-header-cell *matHeaderCellDef>Priority</th>
          <td mat-cell *matCellDef="let element">{{ element.priority }}</td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="due_date">
          <th mat-header-cell *matHeaderCellDef>Due Date</th>
          <td mat-cell *matCellDef="let element">{{ element.due_date }}</td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="created_on">
          <th mat-header-cell *matHeaderCellDef>Creation Date</th>
          <td mat-cell *matCellDef="let element">{{ element.created_on }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </section>
  <section id="Loading-Board" *ngIf="this.taskListAPI === 'Initiated'">
    <p>Loading ...</p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </section>
</main>
