@import "../../../assets/mixins.scss";
#Table {
  margin-top: 32px;
  table {
    width: calc(90vw);
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 12px 1px #00000015;
    background: var(--color-primary-light);
  }
}

#Result-Count {
  margin-left: 6vw;
  color: var(--color-primary);
  font-weight: 500;
  font-family: var(--font-primary);
}

main {
  border-top: 1px solid var(--color-primary);
  box-sizing: border-box;
  min-height: 90vh;
  #Task-Board-Button {
    margin: 1vh auto 0 5vw;
    background: #ffffff;
    color: var(--color-primary);
    svg {
      margin-right: 5px;
      #Path_14, #Path_15 {
        fill: var(--color-primary);
      }
    }
  }
  #Search-Filter-Sort-Container {
    margin: 1vh 5vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    #Search-Input-Container {
      @include searchInput();
    }
  }
}
#Loading-Board {
  @include Loader();
}
