#Table {
  margin-top: 32px;
  table {
    width: calc(90vw);
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 12px 1px #00000015;
    background: var(--color-primary-light);
  }
}

main {
  border-top: 1px solid var(--color-primary);
  box-sizing: border-box;
  min-height: 90vh;
  #Search-Filter-Sort-Container {
    margin: 1vh 5vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    #Search-Input-Container {
      background-color: var(--color-primary-light);
      color: var(--color-primary);
      width: 100%;
      height: 70%;
      border-radius: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border: 1px solid var(--color-primary-light);
      transition: all 0.2s ease-in;
      &:focus-within {
        border: 1px solid var(--color-primary);
      }
      svg {
        margin: 0 15px;
      }
      input {
        width: 80%;
        border: none;
        outline: none;
        background: none;
        color: var(--color-primary);
        font-size: 20px;
        &::placeholder {
          color: var(--color-primary);
        }
      }
    }
  }
}
#Loading-Board {
  position: absolute;
  background-color: #ffffff80;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  p {
      color: var(--color-primary);
      font-size: 30px;
      margin-bottom: 30px;
  }
  mat-progress-bar {
      width: 40vw;
  }
}